<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body style="background-image: url(../static/image/get-whatsapp-dark-mode.png); background-repeat: no-repeat; background-size: cover;">
    <video autoplay muted loop id="myVideo">
        <source src="../static/image/WhatsApp Video 2023-05-05 at 17.50.57.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
      
      <div class="content">
        <h1>Welcome! Please enter your PIN to continue.</h1>
        <form method="POST" action="{{ url_for('submit') }}">
            <label>PIN:</label>
            <input type="password" name="PIN" required >
            <br>
    
            <p><input type="submit" value="Submit" class="pass"></p>
        </form>
        <div class="ani">
            <h2>Incorrect Password. Try again</h2>
        </div>
      </div>


   
</body>
</html>